.like{
    font-size: 22px;  
    display:flex;
    align-items: center;
    margin-left: 20px;
    &__empty{
        position: absolute;
        z-index: 3;
        padding: 10px;
        transition: opacity 1000ms;
        opacity: 1;
        &:hover{
            opacity: 0;
        }
        &:hover + .like__full{
            opacity: 1;
        } 
    }
    &__full{
        position: absolute;
        z-index: 2;
        @include heart-linear-gradient;
        transition: opacity 1000ms;
        opacity: 0;
        padding: 10px;
    }
}
.like--page-menu{
    position: absolute;
    left:220px;
}
.like--page-accueil{
    position: absolute;
    top: 210px;
    left: 80%;
}
    
    